@import url("https://fonts.googleapis.com/css2?family=Allison&family=El+Messiri:wght@500&family=Merriweather&family=Montserrat&family=Oswald&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap");

/* Global parameters */

:root {
    --screen1-gradient: radial-gradient(at -10% 90%, rgba(134, 51, 176, 0.4) 250px, rgba(71, 84, 235, 0.26) 25%, rgba(255, 255, 255, 0) 40%), radial-gradient(at 40% 60%, rgba(71, 84, 235, 0.1) 30px, rgba(255, 255, 255, 0.4) 70%), radial-gradient(at 90% 115%, rgba(71, 84, 235, 0.3) 60px, rgba(255, 255, 255, 0) 20%);
    --screen2-gradient: radial-gradient(at 0% 70%, rgb(255, 192, 221) 10px, rgba(255, 255, 255, 0.6) 40%), radial-gradient(at 90% -10%, rgba(134, 51, 176, 0.74) 190px, rgba(71, 84, 235, 0.64) 25%, rgba(255, 255, 255, 0) 40%), radial-gradient(at 0% 0%, rgba(235, 232, 227, 0.4) 40%, rgb(255, 255, 255) 60%);
    --screen3-gradient: radial-gradient(at 110% 20%, rgb(255, 189, 220) 5px, rgba(255, 255, 255, 0.2) 35%), radial-gradient(at 100% 0%, rgb(253, 182, 215) 5px, rgba(255, 255, 255, 0.2) 25%), radial-gradient(at 100% 100%, rgba(111, 51, 176, 0.54) 90px, rgba(71, 84, 235, 0.44) 15%, rgba(255, 255, 255, 0) 35%);
    --screen4-gradient: radial-gradient(at 110% 20%, rgba(253, 182, 207, 0.794) 5px, rgba(255, 189, 244, 0.56) 25%, rgba(255, 255, 255, 0.2) 40%), radial-gradient(at 100% 0%, rgba(253, 182, 229, 0.2) 5px, rgba(255, 255, 255, 0.2) 25%), radial-gradient(at 0% 120%, rgba(111, 51, 176, 0.5) 250px, rgba(71, 84, 235, 0.4) 25%, rgba(255, 255, 255, 0) 45%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Source Sans Pro", sans-serif;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.decoration-blue {
    color: #505DEC;
}

/* Header */

.header {
    background: #FFFFFF;
    padding-left: 56px;

    margin: 0 auto;

    height: 80px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 28px;
    margin-right: 292.5px;
    margin-left: 56px;
}

.nav-logo-text {
    width: 97px;
    height: 24px;

    color: #4754EB;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
}

.nav-list {
    width: 501px;
    height: 24px;

    margin-top: 28px;
    margin-right: 96.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
a {
    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.nav-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 28px;
}

.language-options {
    width: 57px;
    height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 16px;

}

.language-option,
.language-options span {
    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.language-option {
    transition: all .3s ease-in;
}

.language-option:hover {
    color: #4754EB;
}

.options-button {
    /* Button */
    background: #4754EB;
    border-radius: 16px;
    border: none;

    width: 220px;
    height: 48px;

    margin-right: 56px;

    /* Button text */
    color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    transition: all .3s ease-in;
}

.options-button:hover {
    background-color: white;
    border: 1px solid #4754EB;
    color: #4754EB;
}

/* Screen 1 */

.article-1 {
    max-width: 1392px;
    height: 720px;

    display: flex;

    margin: auto;

    background: var(--screen1-gradient);
}

.article-1-left {
    margin-top: 120px;
    margin-left: 55px;

    display: flex;
    flex-direction: column;

    margin-right: 24px;
}

/* 1 Screen title */

.article-1-title {
    width: 628px;
    height: 210px;

    margin-bottom: 40px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 125%;
}

/* Screen 1 email input */

.article-1-mailinglist {
    margin-bottom: 126px;
}

.mailinglist-input {
    width: 465px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 16px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

.mailinglist-input-field {
    width: 365px;
    height: 64px;

    display: flex;
    justify-content: space-between;

    color: #808080;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    border: none;
    outline: none;

    padding-left: 16px;
}

.mailinglist-input-button {
    width: 143px;
    height: 48px;

    background: #FFFFFF;

    color: #4754EB;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    border-radius: 16px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    margin-right: 8px;

    transition: all .2s ease-in;
}

.mailinglist-input-button:hover {
    background-color: #4754EB;
    color: white;
}

.mailinglist-notification {
    width: 354px;
    height: 32px;
}

/* 1 Screen image "Keep scrolling" */

.scrolling {
    width: 165px;
    height: 32px;

    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.scrolling-text {
    color: white;
}

.scrolling-wheeldown {
    margin-right: 8px;
}

/* Screen 2*/

.article-2 {
    width: 1393px;
    height: 480px;

    background: #FFFFFF;

    margin: auto;
}

/* Screen 2 title */

.article-2-title {
    width: 360px;
    height: 40px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 112%;

    margin-top: 80px;
    margin-left: 24px;
    margin-bottom: 40px;
}

/* Screen 2 blocks */

.article-2-list {
    width: 1344px;
    height: 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 24px;
}

.article-2-list-block {
    width: 437.33px;
    height: 240px;

    background: rgba(255, 255, 255, 0.5);

    box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
    backdrop-filter: blur(12px);

    border-radius: 24px;
}

/* Title part of block */

.block-title {
    height: 80px;

    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.block-title-img {
    margin-right: 12px;
    margin-top: 5px;
    margin-left: 16px;
}

.block-title-text {
    color: #1A1A1A;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

/* Text part of block */

.text-block {
    width: 389px;
    height: 120px;

    color: #1A1A1A;
}

.text-block-text {
    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

/* Screen 3 */

.article-3 {
    width: 1392px;
    height: 800px;

    margin: auto;

    background: var(--screen2-gradient);
}

/* Screen 3 title */

.article-3-title {
    width: 628px;
    height: 40px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 112%;

    padding-top: 80px;
    padding-left: 55px;
    margin-bottom: 40px;
}

/* Screen 3 content */

.article-3-content {
    display: flex;
}

/* Screen 3 left part */

.article-3-left {
    margin-left: 55px;
    margin-right: 24px;
}

.article-3-right {}

/* Screen 3 right part */

/* Right path subtitle */

.article-3-right-subtitle {
    width: 422px;
    height: 24px;

    margin-top: 47px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
}

.article-3-right-subtitle span {
    transition: all .2s ease-in;
}

.article-3-right-subtitle span:hover {
    color: #4754EB;
}

.article-3-right-subtitle hr {
    width: 24px;
    height: 0px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* Right part title */

.article-3-right-title {
    width: 628px;
    height: 80px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 550;
    font-size: 36px;
    line-height: 112%;

    margin-bottom: 16px;
}

/* Right part content */

.article-3-right-content-row1 {
    width: 628px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;

    margin-bottom: 24px;
}

.article-3-right-content-row2 {
    width: 463px;
    height: 96px;

    margin-bottom: 16px;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.article-3-right-content-row3 {
    width: 463px;
    height: 96px;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    margin-bottom: 71px;
}

/* Right part button */

.article-3-right-content-button {
    width: 247px;
    height: 56px;

    background: #4754EB;
    border-radius: 16px;

    color: #FFFFFF;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    transition: all .2s ease-in;
}

.article-3-right-content-button:hover {
    background-color: white;
    color: #4754EB;
    border: 1px solid #4754EB;
}

/* Screen 4 */

.article-4 {
    width: 1391px;
    height: 800px;

    background: #D96666;

    margin: auto;
}

/* Screen 4 title */

.article-4-title {
    width: 628px;
    height: 40px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 550;
    font-size: 36px;
    line-height: 112%;

    padding-top: 80px;
    padding-left: 56px;
    margin-bottom: 80px;
}

/* Screen 4 blocks*/

.article-4-block-container {
    width: 1344px;
    height: 552px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

/* Block */

.article-4-block {
    width: 318px;
    height: 552px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 24px;
}

/* Head part of block */

.article-4-block-head {
    height: 96px;

    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-left: 24px;
    margin-bottom: 24px;

    background: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 100%;
}

.article-4-block-head-category {
    padding-bottom: 8px;
}

/* Body part of block */

.article-4-block-body {
    height: 336px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    margin-bottom: 16px;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

/* Text in body part of block*/

.article-4-block-body-row-long {
    width: 280px;
    height: 96px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 24px;
    margin-bottom: 16px;
}

.article-4-block-body-row-long img {
    margin-right: 16px;
}

.article-4-block-body-row-short {
    width: 300px;
    height: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 24px;
    margin-bottom: 16px;
}

.article-4-block-body-row-short img {
    margin-right: 16px;
}

/* Button in footer part of block */

.article-4-block-footer {
    margin-left: 24px;
}

.article-4-block-footer-button {
    height: 56px;
    width: 270px;

    background: white;
    border-radius: 16px;

    color: #4754EB;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    transition: all .3s ease-in;
}

.article-4-block-footer-button:hover {
    background-color: #4754EB;
    color: white;
    border: 1px solid #4754EB;
}

/* Screen 5 */

.article-5 {
    width: 1392px;
    height: 800px;

    margin: auto;

    background: var(--screen3-gradient);
}

/**/

.reviews {
    height: 800px;
    width: 1392px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    position: relative;
}

.reviews-title {
    color: #1A1A1A;

    padding-left: 55px;
    padding-top: 80px;
    padding-bottom: 40px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.feedback-1:hover,
.feedback-2:hover,
.feedback-3:hover,
.feedback-4:hover {
    z-index: 2;
    transform: scale(1.2);
}

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4 {
    transition: all .2s ease-in;
}

.feedback-1 {
    width: 628px;
    height: 240px;
    position: absolute;
    left: 382px;
    top: 160px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    background: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
    backdrop-filter: blur(120px);
    border-radius: 16px;
}

.feedback-2 {
    width: 628px;
    height: 240px;
    position: absolute;
    left: 56px;
    top: 216px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    background: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
    backdrop-filter: blur(120px);
    border-radius: 16px;
}

.feedback-3 {
    width: 628px;
    height: 240px;
    position: absolute;
    left: 709px;
    top: 352px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    background: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
    backdrop-filter: blur(120px);
    border-radius: 16px;
}

.feedback-4 {
    width: 628px;
    height: 240px;
    position: absolute;
    left: 220px;
    top: 480px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    background: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
    backdrop-filter: blur(120px);
    border-radius: 16px;
}

.profile {
    width: 638px;
    height: 96px;

    display: flex;
    align-items: center;
}

.feedback-3 .profile {
    width: 658px;
}

.logo {
    width: 64px;
    height: 64px;

    border-radius: 50%;

    margin-right: 16px;
    margin-left: 16px;
}

.name {
    color: #1A1A1A;

    font-style: normal;
    font-weight: 550;
    font-size: 24px;

    margin-right: 294px;
}

.date {
    color: #808080;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    margin-right: 24px;
}

.feedback-3 .date {
    margin-right: 48px;
}

.text-container {
    margin: auto;
}

.text {
    width: 580px;
    height: 72px;

    color: #808080;

    font-style: normal;
    font-weight: 400;

    margin-bottom: 16px;
}

/* Screen 5 starts */

.stars {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
    margin-bottom: 16px;
}

.star {
    padding: 0px 4px;
}

/* Screen 5 button */

.button {
    width: 274px;
    height: 56px;

    background: #FFFFFF;
    border-radius: 16px;
    border: none;

    color: #4754EB;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    margin-left: 1086px;
    margin-bottom: 96px;

    transition: all .3s ease-in;
}

.button:hover {
    border: 1px solid #4754EB;
    background-color: #4754EB;
    color: white;
}

/* Screen 6 */

.article-6 {
    width: 1393px;
    height: 640px;

    display: flex;

    background: #FFFFFF;
}

.article-6-img {
    margin-left: 81px;
    margin-right: 24px;
}

.article-6-title {
    width: 628px;
    height: 210px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 550;
    font-size: 56px;
    line-height: 125%;

    margin-top: 120px;
}

.article-6-mailinglist-input {
    width: 465px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 16px;

    background: #F2F2F2;
    border-radius: 16px;
}

.article-6-mailinglist-input-button {
    width: 143px;
    height: 48px;

    background: #4754EB;

    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    border-radius: 16px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    margin-right: 8px;

    transition: all .2s ease-in;
}

.article-6-mailinglist-input-button:hover {
    background-color: white;
    color: #4754EB;
    border: 1px solid #4754EB;
}

/* Screen 7 */

.article7 {
    max-width: 1440px;
    margin: 0 auto;
    height: 728px;
    background: var(--screen4-gradient);
}

/* Screen 7 title */

.article7-title {
    padding-top: 80px;
    padding-left: 55px;
}

.title {
    color: #1A1A1A;
    font-size: 36px;
    font-weight: 600;
    line-height: 112%;

    margin-bottom: 40px;
    margin-left: 79px;
}

/* Screen 7 block */

.article7-block {
    margin-bottom: -32px;
    margin-left: 48px;
}

.article7-block-title {
    width: 1344px;
    height: 96px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px 16px 0 0;

    padding-top: 28px;

    display: flex;
    align-items: center;
}

.title {
    color: #1A1A1A;
    font-size: 36px;
    font-weight: 600;
    line-height: 112%;

    margin-top: 28px;
    margin-left: 32px;
    padding-bottom: 20px;
}

.article7-block-image {
    width: 48px;
    height: 48px;
}

.image {
    position: relative;
    z-index: none;
    left: 1244px;
    top: -88px;
    transition: all .5s ease-in;
}

.image:hover {
    transform: rotate(45deg);
}

.article7-block-image+.article7-block-text {
    transition: all .5s ease-in;
}

.article7-block-image:hover+.article7-block-text {
    display: block;
}

.article7-block-text:nth-child(4) {
    display: block;
    margin-bottom: 35px;
}

.article7-block-text {
    width: 1344px;
    height: 112px;

    background-color: rgba(252, 252, 252, 0.4);
    border-radius: 0 0 16px 16px;

    margin-top: -50px;
    margin-bottom: 50px;
    padding-top: 16px;
    display: none;
}

.reviews-text {
    width: 512px;

    color: #808080;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;

    margin-right: 48px;
    margin-bottom: 24px;
    margin-left: 24px;
}

.article7-text {
    width: 1212px;

    color: #808080;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;

    margin-right: 48px;
    margin-bottom: 24px;
    margin-left: 24px;
}

/* Screen 7 */

.article-7 {
    width: 1392px;
    height: 728px;

    background: #FFFFFF;

    display: flex;
}

.article-7-left {
    margin-left: 56px;
    margin-right: 140px;
}

.article-7-right {
    margin-top: 60px;
}

.article-7-title {
    width: 628px;
    height: 40px;

    color: #1A1A1A;

    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 112%;

    margin-top: 80px;
    margin-bottom: 16px;
}

.article-7-suptitle {
    width: 465px;
    height: 96px;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    margin-bottom: 40px;
}

.article-7-input-data {
    width: 465px;
    height: 56px;

    background: #F2F2F2;
    border-radius: 16px;
    border: none;
    outline: none;

    margin-bottom: 16px;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    padding: 16px 0px 16px 16px;
}

.input-three {
    margin-bottom: 32px;
}

.article-7-input-review {
    width: 465px;
    height: 80px;

    background: #F2F2F2;
    border-radius: 16px;
    border: none;
    outline: none;

    color: #808080;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    margin-bottom: 56px;
    padding: 16px 0px 16px 16px;
}

.article-7-application {
    height: 56px;

    display: flex;
    align-items: center;
}

.article-7-application-button {
    width: 203px;
    height: 56px;

    background: #4754EB;
    border-radius: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: #FFFFFF;

    margin-right: 24px;

    transition: all .3s ease-in;
}

.article-7-application-button:hover {
    background: white;
    color: #4754EB;
    border: 1px solid #4754EB;
}

/* Footer */

.footer {
    height: 120px;

    background: #4754EB;

    display: flex;
    justify-content: space-between;
}

.company {
    margin-top: 24px;
    margin-left: 56px;
    padding: 3px 0px;

    color: white;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.return {
    width: 174px;
    height: 24px;

    margin-top: 48px;
    margin-right: 72px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    color: white;
}

.return span {
    margin-right: 16px;
}
